footer {
    margin-top: 70px;
}

.container {
    margin-top: 70px;
}

.button-newUser {

    margin-top: 38px;
}

.button-newPlanet {

    margin-top: 38px;
}

.button-newSensor {

    margin-top: 38px;
}

.sign-in-form {
    margin-top: 50px;
}

.btn-sign-in {
    width: 140px;
}

.gridStyle {
    border: 1px solid rgb(212, 212, 212);
}

.text-capitalize {
    text-transform: capitalize;
}