/NodeServer/nbproject/private/
/TestWebSocketClient/nbproject/private/
/nbproject/private/
node_modules
Test5/platforms/
test6/platforms/

/test7/nbproject/private/
/test7/build/
/test7/dist/

/mobile/jarvis/platfroms
.idea/