
<form class="form-signin" ng-controller="SensorController" ng-submit="newSensor()">
    <label>Name:</label>            
    <input type="text" ng-model="name" required class="form-control" />
    <label>Address:</label>
    <input type="text" ng-model="address" required class="form-control" />
    <label>Description:</label>
    <textarea ng-model="description" class="form-control" />
    
    <input class="btn btn-lg btn-primary btn-block button-newSensor" type="submit" value="Save" />
</form>
