<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gabitosoft.Test6" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>JARVIS</name>
    <description>
        JARVIS mobile client allow you get notifications on real time from your servers.
    </description>
    <author email="gabitosoft@gmail.com" href="http://cordova.io">
        Gabriel Edgar Delgado Rocha
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
