<div class="container main">
    <div class="col-md-4">
        <ul>
            <li>option1</li>
            <li>option1</li>
            <li>option1</li>
            <li>option1</li>
            <li>option1</li>
        </ul>
    </div>
    <div class="col-md-8">
        <ul>
            <li>alert1</li>
            <li>alert1</li>
            <li>alert1</li>
            <li>alert1</li>
            <li>alert1</li>
            <li>alert1</li>
            <li>alert1</li>
        </ul>
    </div>
</div>