<div class="container main">
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading"><%= i18n('summary').recent %></div>
            <ul class="list-group summary-recent">
                <li class="list-group-item">
                    <span class="badge">14</span>
                    <a>172.21.3.18</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">0</span>
                    <a>10.0.0.2</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">0</span>
                    <a>127.0.0.1</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">4</span>
                    <a>172.21.3.185</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">14</span>
                    <a>172.21.3.18.186</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">34</span>
                    <a>172.21.3.18.181</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">1</span>
                    <a>172.21.3.18.31</a>
                </li>
            </ul>
        </div>
    </div>
</div>