<div class="navbar-right" ng-controller="UserController">
    <form class="navbar-form navbar-right" ng-init="loadUserInformation()" ng-submit="logoutUser()" action="">
        <button type="submit" class="btn btn-success">Logout</button>
        <!--<input type="hidden" name="_csrf" value="{{ _csrf }}">-->
        <input type="hidden" name="token" value="{{ user.token }}"/>
    </form>
    <ul class="nav navbar-nav navbar-right">
        <li><a ng-click="setRoute('profile', $event)">{{ user.name }}</a></li>
        <li><a ng-click="setRoute('help', $event)">Help</a></li>
    </ul>
</div>