<div class="col-xs-12 col-md-8">
    <h2>JARVIS</h2>
    <p>Just a rather very intelligent system</p>
    <div>
        <p>
            Server monitoring software is designed to make sure that a server is active, healthy, and responding to requests appropriately.
        </p>
        <p>
            JARVIS is advanced server monitoring software which lets you check both basic server uptime and detailed usage statistics on all types of servers, including:
        <ul>
            <li>web servers</li>
            <li>databases</li>
            <li>mail servers</li>
            <li>hardware resources</li>
            <li>... and more other servers used in bussines</li>
        </ul>
        </p>
        <div class="row">
            <div class="col-xs-6 col-md-4">
            <h2> Benefits</h2>
            <p>text....</p>
        </div>
        <div class="col-xs-6 col-md-4">
            <h2> About</h2>
            <p>text....</p>
        </div>
        <div class="col-xs-6 col-md-4">
            <h2> Contact Us</h2>
            <p>text....</p>
        </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-md-4">
    <div class="sign-in-form">
        <h3>Need an account?</h3>
        <p>
            Create a JARVIS account is fast, easy and free
        </p>
        <button type="button" ng-click="signinPage()" class="btn btn-primary btn-sign-in">
            Create an account
        </button> 
    </div>
</div>

