<div class="col-xs-12 col-md-8">
    <h2>JARVIS</h2>
    <div id ="login-failed" class="alert alert-warning hidden">
        Invalid Username or password
    </div>
    <div id ="login-error" class="alert alert-danger hidden">
        An error occurred while attempting connect to the server. 
    </div>
    <p>Just a Rather Very Intelligent System</p>
    <img alt="jarvis-logo" src="img/jarvis.png"/>
    <div>
        <p>
            JARVIS is advanced server monitoring software which lets you check both basic server uptime and detailed 
            usage statistics on all types of servers, including:
        </p>
            <ul>
                <li>Web Servers</li>
                <li>Databases</li>
                <li>Mail Servers</li>
                <li>Hardware Resources</li>
                <li>Application Status</li>
            </ul>
        <div class="row">
            <div class="col-xs-6 col-md-4">
            <h2> Benefits</h2>
            <p>
                JARVIS Server monitoring software is designed to make sure that a server is active, 
                healthy, and responding to requests appropriately.
            </p>
        </div>
        <div class="col-xs-6 col-md-4">
            <h2> About</h2>
            <p>text....</p>
        </div>
        <div class="col-xs-6 col-md-4">
            <h2> Follow us</h2>
            <img alt="facebook-logo" src="img/facebook_logo_detail.gif" width="50" height="50"/>
            <img alt="twitter-logo" src="img/twitter-logo.png" width="50" height="50"/>
            <img alt="youtube-logo" src="img/youtube-logo.png" width="50" height="50"/>
        </div>
        </div>
    </div>
</div>
<div class="col-xs-6 col-md-4">
    <div class="sign-in-form">
        <h3>Need an account?</h3>
        <p>
            Create an account is fast, easy and free
        </p>
        <button type="button" ng-click="setRoute('alert', $event)" class="btn btn-primary btn-sign-in">
            Create an account
        </button> 
    </div>
</div>

