<div class="main">
    <h1><%= item.name %></h1>
    <h3><%= item.itemStatus %></h3>
    <hr/>
    <a class="btn btn-medium btn-primary" href="/item/edit/ <%= item.id %>"><%= i18n('item').edit %></a>
</div>